<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/hospital_G004</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <servlet>
        <servlet-name>Appointment</servlet-name>
        <servlet-class>FHealth.Appointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppController</servlet-name>
        <servlet-class>FHealth.AppController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Auth.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Finance</servlet-name>
        <servlet-class>FHealth.Finance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDefaultDoctor</servlet-name>
        <servlet-class>FHealth.UpdateDefaultDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Auth.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Diagnosis</servlet-name>
        <servlet-class>FHealth.Diagnosis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doctor</servlet-name>
        <servlet-class>FHealth.Doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorList</servlet-name>
        <servlet-class>FHealth.DoctorList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppController</servlet-name>
        <url-pattern>/AppController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Appointment</servlet-name>
        <url-pattern>/appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Finance</servlet-name>
        <url-pattern>/finance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDefaultDoctor</servlet-name>
        <url-pattern>/UpdateDefaultDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Diagnosis</servlet-name>
        <url-pattern>/diagnosis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doctor</servlet-name>
        <url-pattern>/Doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorList</servlet-name>
        <url-pattern>/listdoctor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
