.content table{
  width: 600px;
  background-color: #ffffff;
}

.content table th{
  color: #ffffff;
  background-color: #2554c7;
  font-size: 1.2em;
  padding: 3px 0;
}

.content table td{
  background-color: #bdedff;
  font-size: 1em;
  text-align: center;
}

.content table .second td{
  background-color: #cfecec;
  font-size: 1em;
  text-align: center;
}
